@charset "utf-8";
/* CSS Document */

body { background-color: #6699ff;
      background-image: url(gradientblue.jpg);
      color: #d6e3ff;
	  font-family: Verdana, Arial, sans-serif;
}
#wrapper { width: 80%;
          margin-right: auto;
		  margin-left: auto;
		  min-width: 700px;
		  max-width: 1024px;
		  background-color: #FFFFFF;
		  color: #000066;
}
header { background-color: #000066;
       color: #FFFFFF;
	   background-image: url(background.png);
	   background-position: center;
	   background-size:cover;
	   background-repeat: no-repeat;
}
h1 { text-align: center;
     font-size: 3em;
     padding: 10px;
	 line-height: 150%;
	 text-shadow: 3px 3px 3px #CCCCCC;
}
nav { font-weight: bold; 
	 float: left;
	 width: 150px;
}
nav ul { list-style-type: none; }
nav a { text-decoration: none; }
nav a:link { color: #3262A3; }
nav a:visited { color: #6699FF; }
nav a:hover { color: #CCCCCC; }
.category { font-weight: bold;
            background-color: #FFFFFF;
			color: #003366;
			font-size: 1.1em;
			text-shadow: 1px 1px 1px #666;
}
main { margin-left: 180px;
      padding-right: 20px;
	  padding-bottom: 20px;
}
img { border-style: none; }
footer { font-size: 0.70em;
       font-style: italic;
	   padding: 10px;
	   margin-left: 180px;
}
footer nav { text-align: left; }
#mobile { display: none; }
#desktop { display: inline; }
header, nav, main, footer { display: block; }
@media only screen and (max-width: 1024px) {
  body { margin: 0; padding: 0; background-color: #fff; background-image: none; }
  #wrapper { width: auto; min-width: 0; margin: 0; }
  h1 { margin: 0; text-align: center; font-size: 2em; line-height: 200%; }
  nav { float: none; width: auto; }
  nav li { display: inline-block; }
  nav a { padding: 1em; border-style: none; font-size: 1.2em; }
  nav ul { text-align: center; padding: 0; margin: 0; }
  main { margin: 0; padding: 0 1em; font-size: 90%; }
  dd { margin-bottom: 1em; }
  footer { margin: 0; }
}
@media only screen and (max-width: 768px) {
  header { background-image: url(lilfish.gif);
         background-position: center; 
		 background-repeat: no-repeat; }
  h1 { font-size: 1.5em; line-height: 120%; }
  nav ul { text-align: left; }
  nav a { display: block; padding: 0.2em; font-size: 1.3em; border-bottom: 1px solid #330000}
  nav li { display: block; }
  main { padding-left: 0.4em; }
  .category { text-shadow: none; }
  footer { padding: 0; }
  #mobile { display: inline; }
 #desktop { display: none; }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
  .col-1,.col-2,.col-full{
    float: left;
  }
  .col-full {
    width: 100%;
  }
  .col-2 {
    width: 66.66666667%;
  }
  .col-1 {
    width: 33.33333333%;
  }

}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
   .col-1,.col-2,.col-full {
    float: left;
  }
  .col-full {
    width: 100%;
  }
  .col-2 {
    width: 66.66666667%;
  }
  .col-1 {
    width: 33.33333333%;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}.col-1,.col-2,.col-full{
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}
 
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


@charset "utf-8";
/* CSS Document */
.fl{
    
    float:left;
}

.board{
    
    max-width:100%;
    margin: 0 auto;
    border:20px solid #3CF;
	overflow:hidden;
       
}

.whiteSquare{
    
    max-height: 100px;
    max-width: 100px;
    width:12.5%;
    padding-bottom:12.5%;
    background-color:#F7F7F7;
		
}

.blackSquare{
    
    max-height: 100px;
    max-width: 100px;
    width:12.5%;
    padding-bottom: 12.5%;
    background-color:#29BEE8;
	
}

.piece{
    
    max-width: 100%;
    max-height: 100%;
	position:absolute;
	margin:auto;
   
}

.myimage{
	background-image:url(black_rook.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:45px;}

.myimage1{
	background-image:url(black_knight.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:45px;}

.myimage2{
	background-image:url(black_bishop.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:48px;}

.myimage3{
	background-image:url(black_queen.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:48px;}


.myimage4{
	background-image:url(black_king.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:48px;}


.myimage5{
	background-image:url(black_pawn.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:48px;}


.myimage6{
	background-image:url(white_rook.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:45px;}

.myimage7{
	background-image:url(white_knight.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:45px;}

.myimage8{
	background-image:url(white_bishop.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:48px;}

.myimage9{
	background-image:url(white_queen.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:48px;}


.myimage10{
	background-image:url(white_king.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:48px;}


.myimage11{
	background-image:url(white_pawn.png);
	background-position:center;
	background-repeat:no-repeat;
	background-size:48px;}

.clearfix:before,
.clearfix:after{
	display: table;
  content: " ";
  clear:both;}
  .center{
	  text-align:center;}
