	.body {
			margin-left: auto;
			margin-right: auto;
			width: 92%;
			max-width: 960px;
			padding-left: 2.275%;
			padding-right: 2.275%;
			background-color: #deb0b0;
			}

		.board {
			height: 640px;
			width: 640px; 
			border:20px solid #cecec2;
    			text-align:center; 
			margin-right: auto;
			margin-left: auto; 
			}
		.white {
			width: 80px;
			background-color: #e3e3db;
			float:left;
			height: 80px;
			text-align: center;
			}
		.blue {
			width: 80px;
			background-color: #687a6e;
			float: left;
			height: 80px; 
			text-align:center;
			}
		.whole { 		
			margin: auto;
			width: 80%;
			}
		.head	{
			font-family: "Trebuchet MS", Helvetica, sans-serif;
			text-align: center;
			}
		.button {
    		background-color: #d9d9d9;
    		border: none;
    		color: white;
    		padding: 5px 15px;
    		text-align: center;
   		text-decoration: none;
   		display: inline-block;
    		font-size: 12px;
   		font-family:"Trebuchet MS", Helvetica, sans-serif;
   		margin: 4px 2px;
   		cursor: pointer;
		}
